h1{
   text-align: center; 
}

.register, .login{
    margin: auto;
    margin-top: 10px;
    display: block;
    width: 120px;
}

 .success_button{
    margin: auto;
    margin-top: 10px;
    display: block;
    width: 200px;
 }

.msg {
    text-align: center;
    color: red;
}

.footer{
    height: 100px;
}

.success{
    text-align: center;
    margin-bottom: 10px;
}