<form action='/add/review/{{book.id}}' method='post' class='review-bar'>
    {% csrf_token %}
    <label for="review" class="col-1 col-form-label">Add a Review:</label>
    <textarea class="form-control review" name="review"></textarea>
    <div class='row star-picker'>
        Rating:
        <select class="form-control stars-menu" name="stars">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select> stars.
    </div>
    <div class="col-4"><input class="btn btn-primary" type="submit" value="Submit Review"></div>
</form>