<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Semi-Restful Users</title>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'sr_users/styles.css' %}">
    </head>
    <body>
        <div class='container-fluid whole'>
            <div class='row'>
                <div class='col-md-12'><h1>User {{user_id}}</h1></div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <p>Full Name: {{user.name}}<br>Email: {{user.email}}<br>Created at: {{user.created_at}}</p>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'><a href='/users/{{user_id}}/edit'>Edit</a> | <a href='/users/{{user_id}}/destroy'>Delete</a></div>
            </div>
        </div>
    </body>
</html>