<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login & Registration</title>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'log_and_reg/styles.css' %}">
    </head>
    <body>
        <div class='row'>
            <div class='col-md-12'><h1 class='col-md-12 success'>{{greeting}}{{request.session.current_user_name}}</h1></div>
            <div class='col-md-12 success'>{{status}}</div>
            <a href='/'><button class='btn btn-primary success_button'>{{button}}</button></a>
        </div>
    </body>
</html>